.form .fields {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
}
.form input, 
.form textarea, 
.form select, 
.form option {
    padding: 16px 16px;
    border: none;
    border-radius: 8px;
    box-shadow: inset 0 0 0 2px var(--clr-1-50);
    transition: all 0.2s ease-in-out;
}
.form > p input, 
.form > p textarea, 
.form > p select, 
.form > p option {
    width: calc(100% - 32px);
}

.form input:focus, 
.form textarea:focus, 
.form select:focus, 
.form option:focus {
    box-shadow: inset 0 0 0 2px var(--clr-3);
}
.form button {
    padding: 16px 16px;
    border: none;
    border-radius: 8px;
    background-color: var(--clr-4-drk);
    font-size: var(--h5);
    font-weight: 700;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.form button:hover {
    background-color: var(--clr-3);
    color: black;
}
