:root {
    --px0 : 0px;
    --px025: 0.025px;
    --px1 : 1px;
    --px2 : 2px;
    --px3 : 3px;
    --px4 : 4px;
    --px5 : 5px;
    --px6 : 6px;
    --px7 : 7px;
    --px8 : 8px;
    --px9 : 9px;
    --px10 : 10px;
    --px11 : 11px;
    --px12 : 12px;
    --px13 : 13px;
    --px14 : 14px;
    --px15 : 15px;
    --px16 : 16px;
    --px17 : 17px;
    --px18 : 18px;
    --px19 : 19px;
    --px20 : 20px;
    --px21 : 21px;
    --px22 : 22px;
    --px23 : 23px;
    --px24 : 24px;
    --px25 : 25px;
    --px26 : 26px;
    --px27 : 27px;
    --px28 : 28px;
    --px29 : 29px;
    --px30 : 30px;
    --px31 : 31px;
    --px32 : 32px;
    --px33 : 33px;
    --px34 : 34px;
    --px35 : 35px;
    --px36 : 36px;
    --px37 : 37px;
    --px38 : 38px;
    --px39 : 39px;
    --px40 : 40px;
    --px41 : 41px;
    --px42 : 42px;
    --px43 : 43px;
    --px44 : 44px;
    --px45 : 45px;
    --px46 : 46px;
    --px47 : 47px;
    --px48 : 48px;
    --px49 : 49px;
    --px50 : 50px;
    --px51 : 51px;
    --px52 : 52px;
    --px53 : 53px;
    --px54 : 54px;
    --px55 : 55px;
    --px56 : 56px;
    --px57 : 57px;
    --px58 : 58px;
    --px59 : 59px;
    --px60 : 60px;
    --px61 : 61px;
    --px62 : 62px;
    --px63 : 63px;
    --px64 : 64px;
    --px65 : 65px;
    --px66 : 66px;
    --px67 : 67px;
    --px68 : 68px;
    --px69 : 69px;
    --px70 : 70px;
    --px71 : 71px;
    --px72 : 72px;
    --px73 : 73px;
    --px74 : 74px;
    --px75 : 75px;
    --px76 : 76px;
    --px77 : 77px;
    --px78 : 78px;
    --px79 : 79px;
    --px80 : 80px;
    --px81 : 81px;
    --px82 : 82px;
    --px83 : 83px;
    --px84 : 84px;
    --px85 : 85px;
    --px86 : 86px;
    --px87 : 87px;
    --px88 : 88px;
    --px89 : 89px;
    --px90 : 90px;
    --px91 : 91px;
    --px92 : 92px;
    --px93 : 93px;
    --px94 : 94px;
    --px95 : 95px;
    --px96 : 96px;
    --px97 : 97px;
    --px98 : 98px;
    --px99 : 99px;
    --px100 : 100px;
    --px101 : 101px;
    --px102 : 102px;
    --px103 : 103px;
    --px104 : 104px;
    --px105 : 105px;
    --px106 : 106px;
    --px107 : 107px;
    --px108 : 108px;
    --px109 : 109px;
    --px110 : 110px;
    --px111 : 111px;
    --px112 : 112px;
    --px113 : 113px;
    --px114 : 114px;
    --px115 : 115px;
    --px116 : 116px;
    --px117 : 117px;
    --px118 : 118px;
    --px119 : 119px;
    --px120 : 120px;
    --px121 : 121px;
    --px122 : 122px;
    --px123 : 123px;
    --px124 : 124px;
    --px125 : 125px;
    --px126 : 126px;
    --px127 : 127px;
    --px128 : 128px;
    --px129 : 129px;
    --px130 : 130px;
    --px131 : 131px;
    --px132 : 132px;
    --px133 : 133px;
    --px134 : 134px;
    --px135 : 135px;
    --px136 : 136px;
    --px137 : 137px;
    --px138 : 138px;
    --px139 : 139px;
    --px140 : 140px;
    --px141 : 141px;
    --px142 : 142px;
    --px143 : 143px;
    --px144 : 144px;
    --px145 : 145px;
    --px146 : 146px;
    --px147 : 147px;
    --px148 : 148px;
    --px149 : 149px;
    --px150 : 150px;
    --px151 : 151px;
    --px152 : 152px;
    --px153 : 153px;
    --px154 : 154px;
    --px155 : 155px;
    --px156 : 156px;
    --px157 : 157px;
    --px158 : 158px;
    --px159 : 159px;
    --px160 : 160px;
    --px161 : 161px;
    --px162 : 162px;
    --px163 : 163px;
    --px164 : 164px;
    --px165 : 165px;
    --px166 : 166px;
    --px167 : 167px;
    --px168 : 168px;
    --px169 : 169px;
    --px170 : 170px;
    --px171 : 171px;
    --px172 : 172px;
    --px173 : 173px;
    --px174 : 174px;
    --px175 : 175px;
    --px176 : 176px;
    --px177 : 177px;
    --px178 : 178px;
    --px179 : 179px;
    --px180 : 180px;
    --px181 : 181px;
    --px182 : 182px;
    --px183 : 183px;
    --px184 : 184px;
    --px185 : 185px;
    --px186 : 186px;
    --px187 : 187px;
    --px188 : 188px;
    --px189 : 189px;
    --px190 : 190px;
    --px191 : 191px;
    --px192 : 192px;
    --px193 : 193px;
    --px194 : 194px;
    --px195 : 195px;
    --px196 : 196px;
    --px197 : 197px;
    --px198 : 198px;
    --px199 : 199px;
    --px200 : 200px;
    --px201 : 201px;
    --px202 : 202px;
    --px203 : 203px;
    --px204 : 204px;
    --px205 : 205px;
    --px206 : 206px;
    --px207 : 207px;
    --px208 : 208px;
    --px209 : 209px;
    --px210 : 210px;
    --px211 : 211px;
    --px212 : 212px;
    --px213 : 213px;
    --px214 : 214px;
    --px215 : 215px;
    --px216 : 216px;
    --px217 : 217px;
    --px218 : 218px;
    --px219 : 219px;
    --px220 : 220px;
    --px221 : 221px;
    --px222 : 222px;
    --px223 : 223px;
    --px224 : 224px;
    --px225 : 225px;
    --px226 : 226px;
    --px227 : 227px;
    --px228 : 228px;
    --px229 : 229px;
    --px230 : 230px;
    --px231 : 231px;
    --px232 : 232px;
    --px233 : 233px;
    --px234 : 234px;
    --px235 : 235px;
    --px236 : 236px;
    --px237 : 237px;
    --px238 : 238px;
    --px239 : 239px;
    --px240 : 240px;
    --px241 : 241px;
    --px242 : 242px;
    --px243 : 243px;
    --px244 : 244px;
    --px245 : 245px;
    --px246 : 246px;
    --px247 : 247px;
    --px248 : 248px;
    --px249 : 249px;
    --px250 : 250px;
    --px251 : 251px;
    --px252 : 252px;
    --px253 : 253px;
    --px254 : 254px;
    --px255 : 255px;
    --px256 : 256px;
    --px257 : 257px;
    --px258 : 258px;
    --px259 : 259px;
    --px260 : 260px;
    --px261 : 261px;
    --px262 : 262px;
    --px263 : 263px;
    --px264 : 264px;
    --px265 : 265px;
    --px266 : 266px;
    --px267 : 267px;
    --px268 : 268px;
    --px269 : 269px;
    --px270 : 270px;
    --px271 : 271px;
    --px272 : 272px;
    --px273 : 273px;
    --px274 : 274px;
    --px275 : 275px;
    --px276 : 276px;
    --px277 : 277px;
    --px278 : 278px;
    --px279 : 279px;
    --px280 : 280px;
    --px281 : 281px;
    --px282 : 282px;
    --px283 : 283px;
    --px284 : 284px;
    --px285 : 285px;
    --px286 : 286px;
    --px287 : 287px;
    --px288 : 288px;
    --px289 : 289px;
    --px290 : 290px;
    --px291 : 291px;
    --px292 : 292px;
    --px293 : 293px;
    --px294 : 294px;
    --px295 : 295px;
    --px296 : 296px;
    --px297 : 297px;
    --px298 : 298px;
    --px299 : 299px;
    --px300 : 300px;
    --px301 : 301px;
    --px302 : 302px;
    --px303 : 303px;
    --px304 : 304px;
    --px305 : 305px;
    --px306 : 306px;
    --px307 : 307px;
    --px308 : 308px;
    --px309 : 309px;
    --px310 : 310px;
    --px311 : 311px;
    --px312 : 312px;
    --px313 : 313px;
    --px314 : 314px;
    --px315 : 315px;
    --px316 : 316px;
    --px317 : 317px;
    --px318 : 318px;
    --px319 : 319px;
    --px320 : 320px;
    --px321 : 321px;
    --px322 : 322px;
    --px323 : 323px;
    --px324 : 324px;
    --px325 : 325px;
    --px326 : 326px;
    --px327 : 327px;
    --px328 : 328px;
    --px329 : 329px;
    --px330 : 330px;
    --px331 : 331px;
    --px332 : 332px;
    --px333 : 333px;
    --px334 : 334px;
    --px335 : 335px;
    --px336 : 336px;
    --px337 : 337px;
    --px338 : 338px;
    --px339 : 339px;
    --px340 : 340px;
    --px341 : 341px;
    --px342 : 342px;
    --px343 : 343px;
    --px344 : 344px;
    --px345 : 345px;
    --px346 : 346px;
    --px347 : 347px;
    --px348 : 348px;
    --px349 : 349px;
    --px350 : 350px;
    --px351 : 351px;
    --px352 : 352px;
    --px353 : 353px;
    --px354 : 354px;
    --px355 : 355px;
    --px356 : 356px;
    --px357 : 357px;
    --px358 : 358px;
    --px359 : 359px;
    --px360 : 360px;
    --px361 : 361px;
    --px362 : 362px;
    --px363 : 363px;
    --px364 : 364px;
    --px365 : 365px;
    --px366 : 366px;
    --px367 : 367px;
    --px368 : 368px;
    --px369 : 369px;
    --px370 : 370px;
    --px371 : 371px;
    --px372 : 372px;
    --px373 : 373px;
    --px374 : 374px;
    --px375 : 375px;
    --px376 : 376px;
    --px377 : 377px;
    --px378 : 378px;
    --px379 : 379px;
    --px380 : 380px;
    --px381 : 381px;
    --px382 : 382px;
    --px383 : 383px;
    --px384 : 384px;
    --px385 : 385px;
    --px386 : 386px;
    --px387 : 387px;
    --px388 : 388px;
    --px389 : 389px;
    --px390 : 390px;
    --px391 : 391px;
    --px392 : 392px;
    --px393 : 393px;
    --px394 : 394px;
    --px395 : 395px;
    --px396 : 396px;
    --px397 : 397px;
    --px398 : 398px;
    --px399 : 399px;
    --px400 : 400px;
    --px401 : 401px;
    --px402 : 402px;
    --px403 : 403px;
    --px404 : 404px;
    --px405 : 405px;
    --px406 : 406px;
    --px407 : 407px;
    --px408 : 408px;
    --px409 : 409px;
    --px410 : 410px;
    --px411 : 411px;
    --px412 : 412px;
    --px413 : 413px;
    --px414 : 414px;
    --px415 : 415px;
    --px416 : 416px;
    --px417 : 417px;
    --px418 : 418px;
    --px419 : 419px;
    --px420 : 420px;
    --px421 : 421px;
    --px422 : 422px;
    --px423 : 423px;
    --px424 : 424px;
    --px425 : 425px;
    --px426 : 426px;
    --px427 : 427px;
    --px428 : 428px;
    --px429 : 429px;
    --px430 : 430px;
    --px431 : 431px;
    --px432 : 432px;
    --px433 : 433px;
    --px434 : 434px;
    --px435 : 435px;
    --px436 : 436px;
    --px437 : 437px;
    --px438 : 438px;
    --px439 : 439px;
    --px440 : 440px;
    --px441 : 441px;
    --px442 : 442px;
    --px443 : 443px;
    --px444 : 444px;
    --px445 : 445px;
    --px446 : 446px;
    --px447 : 447px;
    --px448 : 448px;
    --px449 : 449px;
    --px450 : 450px;
    --px451 : 451px;
    --px452 : 452px;
    --px453 : 453px;
    --px454 : 454px;
    --px455 : 455px;
    --px456 : 456px;
    --px457 : 457px;
    --px458 : 458px;
    --px459 : 459px;
    --px460 : 460px;
    --px461 : 461px;
    --px462 : 462px;
    --px463 : 463px;
    --px464 : 464px;
    --px465 : 465px;
    --px466 : 466px;
    --px467 : 467px;
    --px468 : 468px;
    --px469 : 469px;
    --px470 : 470px;
    --px471 : 471px;
    --px472 : 472px;
    --px473 : 473px;
    --px474 : 474px;
    --px475 : 475px;
    --px476 : 476px;
    --px477 : 477px;
    --px478 : 478px;
    --px479 : 479px;
    --px480 : 480px;

}

@media(max-width: 480px) {  
    :root {  
        --px0 : 0.0vw;
        --px025: 0.05208vw;
        --px1 : 0.2083vw;
        --px2 : 0.4167vw;
        --px3 : 0.625vw;
        --px4 : 0.8333vw;
        --px5 : 1.0417vw;
        --px6 : 1.25vw;
        --px7 : 1.4583vw;
        --px8 : 1.6667vw;
        --px9 : 1.875vw;
        --px10 : 2.0833vw;
        --px11 : 2.2917vw;
        --px12 : 2.5vw;
        --px13 : 2.7083vw;
        --px14 : 2.9167vw;
        --px15 : 3.125vw;
        --px16 : 3.3333vw;
        --px17 : 3.5417vw;
        --px18 : 3.75vw;
        --px19 : 3.9583vw;
        --px20 : 4.1667vw;
        --px21 : 4.375vw;
        --px22 : 4.5833vw;
        --px23 : 4.7917vw;
        --px24 : 5.0vw;
        --px25 : 5.2083vw;
        --px26 : 5.4167vw;
        --px27 : 5.625vw;
        --px28 : 5.8333vw;
        --px29 : 6.0417vw;
        --px30 : 6.25vw;
        --px31 : 6.4583vw;
        --px32 : 6.6667vw;
        --px33 : 6.875vw;
        --px34 : 7.0833vw;
        --px35 : 7.2917vw;
        --px36 : 7.5vw;
        --px37 : 7.7083vw;
        --px38 : 7.9167vw;
        --px39 : 8.125vw;
        --px40 : 8.3333vw;
        --px41 : 8.5417vw;
        --px42 : 8.75vw;
        --px43 : 8.9583vw;
        --px44 : 9.1667vw;
        --px45 : 9.375vw;
        --px46 : 9.5833vw;
        --px47 : 9.7917vw;
        --px48 : 10.0vw;
        --px49 : 10.2083vw;
        --px50 : 10.4167vw;
        --px51 : 10.625vw;
        --px52 : 10.8333vw;
        --px53 : 11.0417vw;
        --px54 : 11.25vw;
        --px55 : 11.4583vw;
        --px56 : 11.6667vw;
        --px57 : 11.875vw;
        --px58 : 12.0833vw;
        --px59 : 12.2917vw;
        --px60 : 12.5vw;
        --px61 : 12.7083vw;
        --px62 : 12.9167vw;
        --px63 : 13.125vw;
        --px64 : 13.3333vw;
        --px65 : 13.5417vw;
        --px66 : 13.75vw;
        --px67 : 13.9583vw;
        --px68 : 14.1667vw;
        --px69 : 14.375vw;
        --px70 : 14.5833vw;
        --px71 : 14.7917vw;
        --px72 : 15.0vw;
        --px73 : 15.2083vw;
        --px74 : 15.4167vw;
        --px75 : 15.625vw;
        --px76 : 15.8333vw;
        --px77 : 16.0417vw;
        --px78 : 16.25vw;
        --px79 : 16.4583vw;
        --px80 : 16.6667vw;
        --px81 : 16.875vw;
        --px82 : 17.0833vw;
        --px83 : 17.2917vw;
        --px84 : 17.5vw;
        --px85 : 17.7083vw;
        --px86 : 17.9167vw;
        --px87 : 18.125vw;
        --px88 : 18.3333vw;
        --px89 : 18.5417vw;
        --px90 : 18.75vw;
        --px91 : 18.9583vw;
        --px92 : 19.1667vw;
        --px93 : 19.375vw;
        --px94 : 19.5833vw;
        --px95 : 19.7917vw;
        --px96 : 20.0vw;
        --px97 : 20.2083vw;
        --px98 : 20.4167vw;
        --px99 : 20.625vw;
        --px100 : 20.8333vw;
        --px101 : 21.0417vw;
        --px102 : 21.25vw;
        --px103 : 21.4583vw;
        --px104 : 21.6667vw;
        --px105 : 21.875vw;
        --px106 : 22.0833vw;
        --px107 : 22.2917vw;
        --px108 : 22.5vw;
        --px109 : 22.7083vw;
        --px110 : 22.9167vw;
        --px111 : 23.125vw;
        --px112 : 23.3333vw;
        --px113 : 23.5417vw;
        --px114 : 23.75vw;
        --px115 : 23.9583vw;
        --px116 : 24.1667vw;
        --px117 : 24.375vw;
        --px118 : 24.5833vw;
        --px119 : 24.7917vw;
        --px120 : 25.0vw;
        --px121 : 25.2083vw;
        --px122 : 25.4167vw;
        --px123 : 25.625vw;
        --px124 : 25.8333vw;
        --px125 : 26.0417vw;
        --px126 : 26.25vw;
        --px127 : 26.4583vw;
        --px128 : 26.6667vw;
        --px129 : 26.875vw;
        --px130 : 27.0833vw;
        --px131 : 27.2917vw;
        --px132 : 27.5vw;
        --px133 : 27.7083vw;
        --px134 : 27.9167vw;
        --px135 : 28.125vw;
        --px136 : 28.3333vw;
        --px137 : 28.5417vw;
        --px138 : 28.75vw;
        --px139 : 28.9583vw;
        --px140 : 29.1667vw;
        --px141 : 29.375vw;
        --px142 : 29.5833vw;
        --px143 : 29.7917vw;
        --px144 : 30.0vw;
        --px145 : 30.2083vw;
        --px146 : 30.4167vw;
        --px147 : 30.625vw;
        --px148 : 30.8333vw;
        --px149 : 31.0417vw;
        --px150 : 31.25vw;
        --px151 : 31.4583vw;
        --px152 : 31.6667vw;
        --px153 : 31.875vw;
        --px154 : 32.0833vw;
        --px155 : 32.2917vw;
        --px156 : 32.5vw;
        --px157 : 32.7083vw;
        --px158 : 32.9167vw;
        --px159 : 33.125vw;
        --px160 : 33.3333vw;
        --px161 : 33.5417vw;
        --px162 : 33.75vw;
        --px163 : 33.9583vw;
        --px164 : 34.1667vw;
        --px165 : 34.375vw;
        --px166 : 34.5833vw;
        --px167 : 34.7917vw;
        --px168 : 35.0vw;
        --px169 : 35.2083vw;
        --px170 : 35.4167vw;
        --px171 : 35.625vw;
        --px172 : 35.8333vw;
        --px173 : 36.0417vw;
        --px174 : 36.25vw;
        --px175 : 36.4583vw;
        --px176 : 36.6667vw;
        --px177 : 36.875vw;
        --px178 : 37.0833vw;
        --px179 : 37.2917vw;
        --px180 : 37.5vw;
        --px181 : 37.7083vw;
        --px182 : 37.9167vw;
        --px183 : 38.125vw;
        --px184 : 38.3333vw;
        --px185 : 38.5417vw;
        --px186 : 38.75vw;
        --px187 : 38.9583vw;
        --px188 : 39.1667vw;
        --px189 : 39.375vw;
        --px190 : 39.5833vw;
        --px191 : 39.7917vw;
        --px192 : 40.0vw;
        --px193 : 40.2083vw;
        --px194 : 40.4167vw;
        --px195 : 40.625vw;
        --px196 : 40.8333vw;
        --px197 : 41.0417vw;
        --px198 : 41.25vw;
        --px199 : 41.4583vw;
        --px200 : 41.6667vw;
        --px201 : 41.875vw;
        --px202 : 42.0833vw;
        --px203 : 42.2917vw;
        --px204 : 42.5vw;
        --px205 : 42.7083vw;
        --px206 : 42.9167vw;
        --px207 : 43.125vw;
        --px208 : 43.3333vw;
        --px209 : 43.5417vw;
        --px210 : 43.75vw;
        --px211 : 43.9583vw;
        --px212 : 44.1667vw;
        --px213 : 44.375vw;
        --px214 : 44.5833vw;
        --px215 : 44.7917vw;
        --px216 : 45.0vw;
        --px217 : 45.2083vw;
        --px218 : 45.4167vw;
        --px219 : 45.625vw;
        --px220 : 45.8333vw;
        --px221 : 46.0417vw;
        --px222 : 46.25vw;
        --px223 : 46.4583vw;
        --px224 : 46.6667vw;
        --px225 : 46.875vw;
        --px226 : 47.0833vw;
        --px227 : 47.2917vw;
        --px228 : 47.5vw;
        --px229 : 47.7083vw;
        --px230 : 47.9167vw;
        --px231 : 48.125vw;
        --px232 : 48.3333vw;
        --px233 : 48.5417vw;
        --px234 : 48.75vw;
        --px235 : 48.9583vw;
        --px236 : 49.1667vw;
        --px237 : 49.375vw;
        --px238 : 49.5833vw;
        --px239 : 49.7917vw;
        --px240 : 50.0vw;
        --px241 : 50.2083vw;
        --px242 : 50.4167vw;
        --px243 : 50.625vw;
        --px244 : 50.8333vw;
        --px245 : 51.0417vw;
        --px246 : 51.25vw;
        --px247 : 51.4583vw;
        --px248 : 51.6667vw;
        --px249 : 51.875vw;
        --px250 : 52.0833vw;
        --px251 : 52.2917vw;
        --px252 : 52.5vw;
        --px253 : 52.7083vw;
        --px254 : 52.9167vw;
        --px255 : 53.125vw;
        --px256 : 53.3333vw;
        --px257 : 53.5417vw;
        --px258 : 53.75vw;
        --px259 : 53.9583vw;
        --px260 : 54.1667vw;
        --px261 : 54.375vw;
        --px262 : 54.5833vw;
        --px263 : 54.7917vw;
        --px264 : 55.0vw;
        --px265 : 55.2083vw;
        --px266 : 55.4167vw;
        --px267 : 55.625vw;
        --px268 : 55.8333vw;
        --px269 : 56.0417vw;
        --px270 : 56.25vw;
        --px271 : 56.4583vw;
        --px272 : 56.6667vw;
        --px273 : 56.875vw;
        --px274 : 57.0833vw;
        --px275 : 57.2917vw;
        --px276 : 57.5vw;
        --px277 : 57.7083vw;
        --px278 : 57.9167vw;
        --px279 : 58.125vw;
        --px280 : 58.3333vw;
        --px281 : 58.5417vw;
        --px282 : 58.75vw;
        --px283 : 58.9583vw;
        --px284 : 59.1667vw;
        --px285 : 59.375vw;
        --px286 : 59.5833vw;
        --px287 : 59.7917vw;
        --px288 : 60.0vw;
        --px289 : 60.2083vw;
        --px290 : 60.4167vw;
        --px291 : 60.625vw;
        --px292 : 60.8333vw;
        --px293 : 61.0417vw;
        --px294 : 61.25vw;
        --px295 : 61.4583vw;
        --px296 : 61.6667vw;
        --px297 : 61.875vw;
        --px298 : 62.0833vw;
        --px299 : 62.2917vw;
        --px300 : 62.5vw;
        --px301 : 62.7083vw;
        --px302 : 62.9167vw;
        --px303 : 63.125vw;
        --px304 : 63.3333vw;
        --px305 : 63.5417vw;
        --px306 : 63.75vw;
        --px307 : 63.9583vw;
        --px308 : 64.1667vw;
        --px309 : 64.375vw;
        --px310 : 64.5833vw;
        --px311 : 64.7917vw;
        --px312 : 65.0vw;
        --px313 : 65.2083vw;
        --px314 : 65.4167vw;
        --px315 : 65.625vw;
        --px316 : 65.8333vw;
        --px317 : 66.0417vw;
        --px318 : 66.25vw;
        --px319 : 66.4583vw;
        --px320 : 66.6667vw;
        --px321 : 66.875vw;
        --px322 : 67.0833vw;
        --px323 : 67.2917vw;
        --px324 : 67.5vw;
        --px325 : 67.7083vw;
        --px326 : 67.9167vw;
        --px327 : 68.125vw;
        --px328 : 68.3333vw;
        --px329 : 68.5417vw;
        --px330 : 68.75vw;
        --px331 : 68.9583vw;
        --px332 : 69.1667vw;
        --px333 : 69.375vw;
        --px334 : 69.5833vw;
        --px335 : 69.7917vw;
        --px336 : 70.0vw;
        --px337 : 70.2083vw;
        --px338 : 70.4167vw;
        --px339 : 70.625vw;
        --px340 : 70.8333vw;
        --px341 : 71.0417vw;
        --px342 : 71.25vw;
        --px343 : 71.4583vw;
        --px344 : 71.6667vw;
        --px345 : 71.875vw;
        --px346 : 72.0833vw;
        --px347 : 72.2917vw;
        --px348 : 72.5vw;
        --px349 : 72.7083vw;
        --px350 : 72.9167vw;
        --px351 : 73.125vw;
        --px352 : 73.3333vw;
        --px353 : 73.5417vw;
        --px354 : 73.75vw;
        --px355 : 73.9583vw;
        --px356 : 74.1667vw;
        --px357 : 74.375vw;
        --px358 : 74.5833vw;
        --px359 : 74.7917vw;
        --px360 : 75.0vw;
        --px361 : 75.2083vw;
        --px362 : 75.4167vw;
        --px363 : 75.625vw;
        --px364 : 75.8333vw;
        --px365 : 76.0417vw;
        --px366 : 76.25vw;
        --px367 : 76.4583vw;
        --px368 : 76.6667vw;
        --px369 : 76.875vw;
        --px370 : 77.0833vw;
        --px371 : 77.2917vw;
        --px372 : 77.5vw;
        --px373 : 77.7083vw;
        --px374 : 77.9167vw;
        --px375 : 78.125vw;
        --px376 : 78.3333vw;
        --px377 : 78.5417vw;
        --px378 : 78.75vw;
        --px379 : 78.9583vw;
        --px380 : 79.1667vw;
        --px381 : 79.375vw;
        --px382 : 79.5833vw;
        --px383 : 79.7917vw;
        --px384 : 80.0vw;
        --px385 : 80.2083vw;
        --px386 : 80.4167vw;
        --px387 : 80.625vw;
        --px388 : 80.8333vw;
        --px389 : 81.0417vw;
        --px390 : 81.25vw;
        --px391 : 81.4583vw;
        --px392 : 81.6667vw;
        --px393 : 81.875vw;
        --px394 : 82.0833vw;
        --px395 : 82.2917vw;
        --px396 : 82.5vw;
        --px397 : 82.7083vw;
        --px398 : 82.9167vw;
        --px399 : 83.125vw;
        --px400 : 83.3333vw;
        --px401 : 83.5417vw;
        --px402 : 83.75vw;
        --px403 : 83.9583vw;
        --px404 : 84.1667vw;
        --px405 : 84.375vw;
        --px406 : 84.5833vw;
        --px407 : 84.7917vw;
        --px408 : 85.0vw;
        --px409 : 85.2083vw;
        --px410 : 85.4167vw;
        --px411 : 85.625vw;
        --px412 : 85.8333vw;
        --px413 : 86.0417vw;
        --px414 : 86.25vw;
        --px415 : 86.4583vw;
        --px416 : 86.6667vw;
        --px417 : 86.875vw;
        --px418 : 87.0833vw;
        --px419 : 87.2917vw;
        --px420 : 87.5vw;
        --px421 : 87.7083vw;
        --px422 : 87.9167vw;
        --px423 : 88.125vw;
        --px424 : 88.3333vw;
        --px425 : 88.5417vw;
        --px426 : 88.75vw;
        --px427 : 88.9583vw;
        --px428 : 89.1667vw;
        --px429 : 89.375vw;
        --px430 : 89.5833vw;
        --px431 : 89.7917vw;
        --px432 : 90.0vw;
        --px433 : 90.2083vw;
        --px434 : 90.4167vw;
        --px435 : 90.625vw;
        --px436 : 90.8333vw;
        --px437 : 91.0417vw;
        --px438 : 91.25vw;
        --px439 : 91.4583vw;
        --px440 : 91.6667vw;
        --px441 : 91.875vw;
        --px442 : 92.0833vw;
        --px443 : 92.2917vw;
        --px444 : 92.5vw;
        --px445 : 92.7083vw;
        --px446 : 92.9167vw;
        --px447 : 93.125vw;
        --px448 : 93.3333vw;
        --px449 : 93.5417vw;
        --px450 : 93.75vw;
        --px451 : 93.9583vw;
        --px452 : 94.1667vw;
        --px453 : 94.375vw;
        --px454 : 94.5833vw;
        --px455 : 94.7917vw;
        --px456 : 95.0vw;
        --px457 : 95.2083vw;
        --px458 : 95.4167vw;
        --px459 : 95.625vw;
        --px460 : 95.8333vw;
        --px461 : 96.0417vw;
        --px462 : 96.25vw;
        --px463 : 96.4583vw;
        --px464 : 96.6667vw;
        --px465 : 96.875vw;
        --px466 : 97.0833vw;
        --px467 : 97.2917vw;
        --px468 : 97.5vw;
        --px469 : 97.7083vw;
        --px470 : 97.9167vw;
        --px471 : 98.125vw;
        --px472 : 98.3333vw;
        --px473 : 98.5417vw;
        --px474 : 98.75vw;
        --px475 : 98.9583vw;
        --px476 : 99.1667vw;
        --px477 : 99.375vw;
        --px478 : 99.5833vw;
        --px479 : 99.7917vw;
        --px480 : 100.0vw;       
    } 
}
  