.search_popup {
    position: absolute;
    height: auto;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: white;
    min-height: 200px;
    z-index: 10;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}
.search_popup ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 8px;
    padding: 8px;
}
.search_popup ul li {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-gap: 8px;
    background-color: var(--grey-light);
}
.search_popup ul li .image img {
    width: 100%;
}