header {
    position: relative;
    display: block;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
    z-index: 10;
}
/* FIRST LINE */
header .content.first-line {
    height: 124px;
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    justify-content: space-between;
    align-items: center;
    grid-gap: 48px;
}
/* LOGO */
header .content.first-line .logo {
    width: 240px;
}
/* MENU */
header .content.first-line ul.menu {
    display: flex;
    justify-content: flex-start;
}
header .content.first-line ul.menu > li {
    position: relative;
    display: block;
    margin-right: 16px;
    font-size: var(--h5);
    z-index: 1000;
    cursor: pointer;
}
header .content.first-line ul.menu > li > ul {
    position: absolute;
    top: 0;
    visibility: hidden;
    opacity: 0;
    transition: opcaity 0.2s ease-in-out;
    background-color: white;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
    min-height: 100%;
}
header .content.first-line ul.menu > li:hover > ul {
    visibility: visible;
    opacity: 1;
}
header .content.first-line ul.menu > li:hover > ul li {
    padding: 4px 0;
    transition: color 0.2s ease-in-out;
}
header .content.first-line ul.menu > li > ul li:hover {
    color: var(--clr-1);
}
/* PHONE */
header .content.first-line .phone,
header .content.first-line .phone a {
    display: flex;
    justify-content: center;
    align-items: center;
}
header .content.first-line .phone a {
    text-decoration: none;
    color: black;
}
header .content.first-line .user img,
header .content.first-line .phone a img {
    width: 32px;
    height: 32px;
    object-fit: contain;
    object-position: center;
}
header .content.first-line .user a img {
    margin-right: 16px;
}
header .content.first-line .phone a span {
    font-size: 24px;
    font-weight: 700;
    margin-left: 16px;
}
/* USER */
header .content.first-line .user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
header .content.first-line .user .data .greeting {
    font-size: var(--h6);
}
@media(max-width: 1380px) {
    header .content.first-line .phone a span {
        font-size: var(--h4);
    }
}
/* SECOND LINE */
header .second-line {
    width: 100%;
    height: 96px;
    background-color: var(--clr-1);
}
header .second-line .content {
    display: grid;
    grid-template-columns: auto 2px auto 1fr auto; 
    grid-gap: 40px;
    align-items: center;
    height: 100%;
}
header .second-line .content .catalogue {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}
header .second-line .content .catalogue .burger {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
header .second-line .content .catalogue .burger .lines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}
header .second-line .content .catalogue .burger .lines > div {
    height: 4px;
    width: 24px;
    background-color: white;
    margin-bottom: 4px;
}
header .second-line .content .catalogue .burger > p {
    color: white;
    font-weight: 700;
    cursor: pointer;
}

header .second-line .content .catalogue nav {
    position: absolute;
    display: none;
    width: 100%;
    height: auto;
    width: 100%;
    top: 80px;
    background-color: cornflowerblue;
} 
header .second-line .content .catalogue:hover nav {
    display: block;
    z-index: 1000;
}

header .second-line .content .catalogue nav ul {
    position: absolute;
    width: auto;
    top: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1px 0 var(--clr-1);
    background-color: white;
    height: auto;
   
    min-height: 100%;
}



header .second-line .content .catalogue nav ul li {
    padding: 0;
    width: 248px;
    height: auto;
    background-color: white;
    cursor: default;
}
header .second-line .content .catalogue nav ul li a {
    top: 0;
    left: 0;
    width: calc(100% - 32px);
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 16px;
}
header .second-line .content .catalogue nav ul li ul {
    display: none;
    top: 0;
    left: calc(184px + 24px * 2);
}
header .second-line .content .catalogue nav ul li:hover {
    background-color: var(--clr-1-50);
}
header .second-line .content .catalogue nav ul li:hover > ul {
    display: flex;
}

/* LANGUAGE */
header .second-line .slash {
    content: "";
    display: block;
    width: 2px;
    height: 22px;
    background-color: white;
}
header .second-line .language select {
    background-color: transparent;
    border-color: transparent;
    text-transform: uppercase;
    color: white;
    font-size: var(--h5);
    font-weight: 500;
}
header .second-line .language select option {
    color: black;
}
/* SEARCH */
header .second-line .search {
    position: relative;
    display: block;
}
header .second-line .search input {
    width: 100%;
    padding: 0 20px;
    height: 48px;
    border: none;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.15);
    font-size: var(--h5);
}
header .second-line .search input::placeholder {
    font-size: var(--h5);
    color: white;
    font-weight: 500;
}
header .second-line .search input:focus {
    background-color: white;
}
header .second-line .search input:focus::placeholder {
    color: grey;
}
/* ACTIONS */
header .second-line .actions {
    width: auto;
    display: flex;
    justify-content: flex-end;
}
header .second-line .actions a {
    position: relative;
    margin: 0 16px;
}

header .second-line .actions a img {
    height: 32px;
    width: auto;
}
header .second-line .actions a.cart {
    cursor: pointer;
}

header .second-line .actions .icon p.quantity {
    position: absolute;
    display: none;
    top: -8px;
    right: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--clr-3);
    line-height: 24px;
    text-align: center;
    margin-right: -16px;
    font-size: var(--h6);
    /* font-weight: 700; */
}
header .second-line .actions .icon p.quantity.active {
    display: block;
}

@media(max-width: 1160px) {
    header .content.first-line {
        grid-template-columns: auto 1fr auto auto;
        grid-gap: 24px;
    }
    header .content.first-line .phone span {
        display: none;
    }
}
