{% load static %}{% for product in cart.products %}
    <li>
        <div class="image_wrapper">
            <div class="image" style="background-image: url({{ product.image }});">
            <p class="remove close">
                <img class="close_img" src="{% static 'img/close.png' %}" alt="x">
            </p>
        </div>
        </div>
        <div class="data">
            <p class="name">{{ product.name }}</p>
            <div class="quantity">
                <div class="counter">
                    <button class="action minus">-</button>
                    <input  class="product_quantity" data-cart-update="true" data-product_id="{{ product.id }}" value="{{ product.quantity }}" type="number" value="1" min="1" max="100">
                    <button class="action plus">+</button>
                </div>
                <p class="price">{{ product.price }} грн</p>
            </div>
            <p class="total">{{ product.total }} грн</p>
        </div>
    </li>
{% endfor %}