{% extends './profile.html' %}

{% block profile %}
<div class="personal__info">
    <p class="title1">Личные данные</p>
    <ul>
        <li class="block user__personal-info">
            <p>Личные данные</p>
            <form action="">
                <div>
                    <label for="">Фамилия</label>
                    <p>
                        <input type="text" >
                    </p>
                </div>
               
               
               
Николаев

Имя
Ростислав

Отчество
Не указано

Дата рождения
20 июля 1992

Пол
Мужской

Язык общения с Rozetka
Русский

            </form>
        </li>
        <li class="block user__contacts">
            
        </li>
        <li class="block delivery_adress">
            
        </li>
        <li class="block login">
            
        </li>
    </ul>
</div>
{% endblock %}