{% extends 'shop/base.html' %}
{% load static %}

{% block links %}
    
{% endblock %}

{% block content %}
    <div class="content">
        <div class="breadcrumbs">
            <a href="/">
                <img src="{% static 'img/icons/home.png' %}" alt="home-page">
            </a>
            <span class="slash">/</span>
            <p>Кабинет пользователя</p>
        </div>    
    </div>
    <div class="content">
        <div class="user_profile">
          <ul class="navigation"></ul>
          <div class="data">
                {% block user_data %}
                {% endblock %}
          </div>
        </div>
    </div>
    

{% endblock %}

{% block js %}

{% endblock %}